<div class="repo p-2 text-center">
  <a href="https://github.com/ryo-ma/github-profile-trophy">
    <span class="d-none d-sm-none d-md-block">
      <img
        class="only-light"
        style="width: 175%;"
        alt="{{ include.username }}"
        src="https://trophygh.kolioaris.xyz/?username={{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&margin-w=20&margin-h=5&no-bg=true&rank=-C&row=2&column=3"
      >
    </span>

    <span class="d-none d-sm-block d-md-none">
      <img
        class="only-light"
        alt="{{ include.username }}"
        src="https://trophygh.kolioaris.xyz/?username={{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&margin-w=15&margin-h=5&no-bg=true&rank=-C&row=2&column=3"
      >
    </span>

    <span class="d-block d-sm-none">
      <img
        class="only-light"
        alt="{{ include.username }}"
        src="https://trophygh.kolioaris.xyz/?username={{ include.username }}&theme={{ site.repo_trophies.theme_light }}&locale={{ site.lang }}&margin-w=15&margin-h=5&no-bg=true&rank=-C&row=2&column=3"
      >
    </span>
  </a>
</div>
