{% comment %}
  repo_activity.liquid
  在需要的地方插入：
    {% include repo_activity.liquid username="你的用户名" %}
  支持 _config.yml 中的可选配置：
    repo_activity:
      theme_light:  "default"
      theme_dark:   "github-compact"
      bg_color:     "ffffff"
      color:        "178600"
      line:         "178600"
      point:        "ffffff"
      area:         true
      hide_border:  true
{% endcomment %}

{% assign cfg = site.repo_activity | default: empty_obj %}

<div class="container-fluid px-0 my-3">
  <a href="https://github.com/Ashutosh00710/github-readme-activity-graph">
    <img
      class="w-100"
      loading="lazy"
      alt="{{ include.username }}'s activity graph"
      src="https://github-readme-activity-graph.vercel.app/graph?username={{ include.username }}&theme={{ cfg.theme_light | default: 'default' }}&bg_color={{ cfg.bg_color | default: 'ffffff' }}&color={{ cfg.color | default: '178600' }}&line={{ cfg.line | default: '178600' }}&point={{ cfg.point | default: 'ffffff' }}&area={{ cfg.area | default: true }}&hide_border={{ cfg.hide_border | default: true }}&height=300"
    >
  </a>
</div>
