{% assign repo_url = include.repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

<div class="repo-card p-2">
  <div class="card-body">
    <div class="card-title">
      {% if show_owner %}{{ repo_url[0] }}/{{ repo_url[1] }}{% else %}{{ repo_url[1] }}{% endif %}
    </div>
    {% comment %} Optional description: add to _data/repositories.yml under a `details` map {% endcomment %}
    {% assign repo_key = include.repository %}
    {% if site.data.repositories.details and site.data.repositories.details[repo_key] and site.data.repositories.details[repo_key].description %}
      <p class="card-text">{{ site.data.repositories.details[repo_key].description }}</p>
    {% endif %}
    <div class="card-actions">
      <a href="https://github.com/{{ include.repository }}" target="_blank" rel="noopener">Open on GitHub</a>
    </div>
  </div>
</div>
